* {
  margin: 0;
  pad: 0;
}

body {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  border-bottom: 2px solid black;
  position: relative;
  padding-bottom: 20px;
  font-family: sans-serif;
}

nav a:link {
  text-decoration: none;
  display: inline-block;
  padding-right: 25px;
  position: relative;
  top: -46px;
  right: -250px;
  color: rgb(107, 218, 181);
}

h2 {
  font-family: sans-serif;
  padding-bottom: 15px;
}

p {
  text-align: justify;
  padding-bottom: 15px;
}
